<ul class="list-group w-100">
  <li class="list-group-item">
    <div class="d-flex flex-row">
      <div>
        <%= family.name %>
      </div>
      <div>
        <%= family.email %>
      </div>
      <div>
        <%= family.response %>
      </div>
    </div>
  </li>
</ul>
