<div class="d-flex justify-content-center mt-3">
  <div><h2 class="">Families</h2></div>
</div>
<div class="d-flex mb-2">
  <div class="btn btn-outline-primary">
    <%= link_to "New", new_admin_family_path %>
  </div>
  <div class="ml-auto">
    <input id="search" type="text" class="form-control" placeholder="Search..." autocomplete="off" data-table="families-table" data-search-path="<%= admin_families_path %>" />
  </div>
</div>
<div class="d-flex">
  <table class="table table-striped" id="families-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th class="text-center">Response</th>
        <th class="text-center">Guests</th>
        <th class="text-center">Message</th>
        <th class="text-center">Photo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do |family| %>
        <%= render family %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $("#search").on("keyup", function() { searchItems($(this)) });
</script>
