<% provide(:title, "New family") %>

<div class="d-flex flex-row">
  <div>
    <h1>New family</h1>
  </div>
</div>
<div class="d-flex flex-row">
  <div>
    <%= render 'form' %>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="btn btn-secondary">
    <%= link_to "Back", admin_families_path %>
  </div>
</div>
