<li class="list-group-item">
  <div class="d-flex flex-row">
    <div>
      <%= link_to guest.name, admin_guest_path(guest) %>
    </div>
    <div class='ml-auto'>
      <div class="text-right"><%= badge_attending guest %></div>
    </div>
  </div>
  <div class='d-flex flex-row'>
    <div><small><%= link_to guest.family.name, admin_family_path(guest.family), style: 'color:#6c757d' %></small></div>
    <div class='text-muted'><small>&ensp;&bull;&ensp; Day guest: &ensp;<%= boolean_icon guest.day_guest %></small></div>
  </div>
</li>
<tr>
</tr>
