<%= provide(:title, "Wedding | Guests") %>

<div class="d-flex justify-content-center mt-3">
  <div><h2 class="">Guests</h2></div>
</div>
<div class="d-flex mb-2">
  <div class="btn btn-outline-primary">
    <%= link_to "New", new_admin_guest_path %>
  </div>
  <div class="ml-auto">
    <input id="search" type="text" class="form-control" placeholder="Search..." autocomplete="off" data-table="guests-table" data-search-path="<%= admin_guests_path %>" />
  </div>
</div>
<div class="d-flex">
  <table class="table table-striped" id="guests-table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Attending</th>
        <th class="text-center d-none d-md-table-cell">Day guest</th>
        <th class="text-center d-none d-md-table-cell">Family</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <%= render guest %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $("#search").on("keyup", function() { searchItems($(this)) });
</script>
