version: '3'

services:
  postgres:
    image: postgres:10.3-alpine
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

  wedding_web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    hostname: wedding_web
    depends_on:
      - postgres
      - webpacker
    ports: 
      - 3000:3000
    volumes:
      - .:/app:chached
    environment:
      - RAILS_LOG_TO_STDOUT=true
      - DOCKER_COMPOSE=true
      - WEBPACKER_DEV_SERVER_HOST=webpacker
    tty: true
    stdin_open: true

  webpacker:
    build: .
    command: ./bin/webpack-dev-server
    depends_on:
      - postgres
    volumes:
      - .:/app:cached
    ports:
      - 3085:3085
    environment: 
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0

  selenium:
    image: selenium/standalone-chrome-debug
    ports:
      - 4444:4444
      - 5900:5900
    environment:
      SCREEN_WIDTH: 1920
      SCREEN_HEIGHT: 1080
