@import './custom';
@import '~bootstrap/scss/bootstrap';
@import './checkbox.scss';
@import './header.scss';
@import './d3.css';
@import './update.scss';

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: $primary;
  text-decoration: inherit;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
}

.avatar {
  border-radius: 50%;
  border: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  background-color: $primary;
}

li.link-active {
  box-shadow: inset 4px 0 0 $primary;
  background-color: #f5f5f5;
  color: #fff;
  border-color: #fff;
}

.text-center {
  text-align: center;
}

.thumbnail {
  max-height: 50px;
  width: auto;
}

.code-input-field {
  font-size: 2em;
  max-width: 60px;
  height: 100%;
  text-align: center;
  text-transform: lowercase;
}

.admin-btns {
  right: 1em;
  top: 0px;
  position: absolute;
  z-index: 20;
}

@media (min-width: 768px) {
  .family-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

#admin-header {
  background-color: $primary;
  color: #FFFFFF;
}

.parisienne {
  font-family: 'Parisienne', cursive;
}
.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.img-mc {
  height: 160px;
  width: auto;
}

#mobile-menu {
  background-color: $primary;
  color: #FFFFFF;
  display: none;
  position: absolute;
  top: 60px;
  .list-group-item {
    color: #FFFFFF;
    background-color: $primary;
  }
  a {
    color: #FFFFFF;
  }
}

[data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:1em;
  width:2em;
  height:2em;
  line-height:2em;
  text-align:center;
  border-radius:50%;
  background: $gray;
  vertical-align:middle;
  color: $primary;
}
