// family header

.family-header {
  z-index: 1;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.header-img {
  width: 75vw;
  height: 50vh;
  background-position: 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../images/bgs/bg-1.jpg");
}

.header-content {
  position: fixed;
  color: #000000;
  background-color: #FFFFFF;
  width: 20%;
  height: 50vh;
  right: 5%;
  overflow-x: visible;
}

.content-text {
  position: absolute;
  margin-left: 10vw;
  min-width: 150px;
}

.chevron-icon {
  color: #EFEFEF;
}

.overlay {
  color: #000000;
  display: inline-block;
  position: absolute;
  width: 150%;
  height: 250%;
  left: -35%;
  top: -80%;
  background-color: #FFFFFF;
  transform: rotate(10deg);
}

.family-content {
  z-index: 10;
  position: relative;
  top: -15vh;
  margin: 10px;
}

.card-image {
  width: auto;
  height: 236px;
}

.card-wrapper {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  padding-bottom: 50px;
}

.family-footer {
  z-index: 1;
}

@media (min-width: 768px) {
  .content-logo {
    max-height: 150%;
  }
}

@media (max-width: 768px) {
  .content-logo {
    width: 50vw;
    height: auto;
  }
}

.content-date {
  font-size: 1.5em;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) { 
  .code-input-left {
    justify-content: center !important;
  }
  .code-input-right {
    justify-content: center !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .code-input-left {
    float: right !important;
  }
  .code-input-right {
    justify-content: left !important;
  }
}

#map {
  height: 100%;
  min-height: 400px;
  width: auto;
}

.m-logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}
