<% provide(:title, "Edit #{@item.class.name.downcase}") %>

<%= render 'breadcrumb' %>

<div class="d-flex justify-content-center flex-row">
  <div>
    <h2>Please edit below</h2>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="w-100">
    <%= render 'form' %>
  </div>
</div>
