<div class="card" id="card-info">
  <div class="card-header">
    <div class="d-flex justify-content-center"><h4>Informatie</h4></div>
  </div>
  <div class="card-body">
    <%= render 'card_buttons' %>
    <div class="d-flex justify-content-center p-1">
      <div>Info!</div>
    </div>
  </div>
</div>