<div class="card mb-5" id="card-info">
  <div class="card-header">
    <div class="d-flex justify-content-center"><h4>Informatie</h4></div>
  </div>
  <div class="card-img-top">
    <%= image_tag 'marienhof.jpg', class: "w-100" %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= render 'card_buttons' %>
    </li>
    <li class="list-group-item bg-light">
      <h3>Locatie</h3>
    </li>
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-9">
            <div id="map" class="shadow p-3 mb-5 bg-white rounded">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <p><%= image_tag 'logo_marienhof.png', class: "m-logo" %><p>
            <p>Kleine Haag 2</p>
            <p>3811 HE Amersfoort</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item bg-light">
      <h3>Programma<h3>
    </li>
    <li class="list-group-item">
      <% if @family.guests.map(&:day_guest).include? true %>
        <p><h3>Dag programma</h3><p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>13.30u</strong></div>
            <div>Ontvangst met koffie en thee</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>14.00u</strong></div>
            <div>Gemeentelijk huwelijk</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>14.45u</strong></div>
            <div>Taart en toast</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>15.30u</strong></div>
            <div>Foto moment</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>16.00u</strong></div>
            <div>Borrel</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>17.00u</strong></div>
            <div>Diner</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>18.30u</strong></div>
            <div>Vrije tijd</div>
          </li>
        </ul>
      <% end %>
        <p><h3>Avond programma</h3><p>
        <ul class="list-group">
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>19.30u</strong></div>
            <div>Kerk dienst</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>20.30u</strong></div>
            <div>Feest</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-2"><strong>00.30u</strong></div>
            <div>Einde feest</div>
          </li>
        </ul>
    </li>
    <li class="list-group-item bg-light">
      <h3>Ceremoniemeester<h3>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col col-md-3 col-lg-2 text-center mb-3">
          <%= image_tag 'rian.jpg', class: "img-mc" %>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
          <div class="d-md-none">
            <h4 class="text-center">Rianne Rodenburg</h4>
          </div>
          <div class="d-none d-md-inline my-3">
            <h4>Rianne Rodenburg</h4>
          </div>
          <div>
            <div>
              Hallo, ik ben Rianne! 
              De ceremoniemeester voor de bruiloft van dit leuke stel &#x1F609;
            </div>
            <div class="mt-1">
              <div>
                Heb je vragen, wensen of opmerkingen?
                Dan kun je bij mij terecht. 
                Stuur dan een mailtje naar: 
              </div>
              <div class="mt-1">
                <a href="mailto:samuelencorinegaantrouwen@gmail.com">
                  samuelencorinegaantrouwen@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
