<div class="card" id="card-post">
  <div class="card-header">
    <div class="d-flex justify-content-center"><h4>Upload foto</h4></div>
  </div>
  <div class="card-body">
    <%= render 'card_buttons' %>
    <div class="d-flex justify-content-center p-1">
      Post!
    </div>
  </div>
</div>