<div class="card" style="top:80px;">
  <div class="card-header">
    <div class="d-flex justify-content-center"><h4>Bruiloft code</h4></div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-center p-4">
      <i class="far fa-times-circle update-icon error"></i>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    const uuid = localStorage.getItem("uuid");
    const card_id = "card-reply";
    $.get("/families/flip_card", { card_id: card_id, uuid: uuid }, "", "script");
  }, 5000)
</script>
