<div class="card" style="top:80px;">
  <div class="card-body p-4">
    <div class="d-flex justify-content-center">
      <div>
        <i class="far fa-check-circle update-icon success"></i>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-2">
      <div>
        RSVP opgegeven
      </div>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    const uuid = localStorage.getItem("uuid");
    const card_id = "card-info";
    $.get("/families/flip_card", { card_id: card_id, uuid: uuid }, "", "script");
  }, 3000)
</script>
