<div class="card" style="top:80px;">
  <div class="card-header">
    <div class="d-flex justify-content-center"><h4>Bruiloft code</h4></div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-center p-4" id="code-input-fields">
      <div class="pr-1"><input type="text" class="form-control code-input-field" id="code-input-0" maxlength="1" /></div>
      <div class="pr-1"><input type="text" class="form-control code-input-field" id="code-input-1" maxlength="1" /></div>
      <div class="pr-1"><input type="text" class="form-control code-input-field" id="code-input-2" maxlength="1" /></div>
      <div class="pr-1"><input type="text" class="form-control code-input-field" id="code-input-3" maxlength="1" /></div>
      <div class="pr-1"><input type="text" class="form-control code-input-field" id="code-input-4" maxlength="1" /></div>
      <div class="pr-1"><input type="text" class="form-control code-input-field" id="code-input-5" maxlength="1" /></div>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <div id="status" style="display:none;">
        <span class="mr-3 status-text">Checking</span>
        <i class="fas fa-spinner fa-pulse" id="spinner"></i>
      </div>
    </div>
  </div>
</div>
