<%= react_component 'family-header', { couple_names: 'Samuel & Corine', wedding_date: '10 mei 2019' } %>
<div class="family-content" id="content">
  <% if @family %>
    <%= render 'reply_card' %>
  <% else %>
    <%= react_component 'cards-container', { current_card: 'code_uuid_card' } %>
  <% end %>
</div>
<%= react_component 'family-footer' %>