<div class="family-header d-flex flex-row">
  <div class="header-img"></div>
  <div class="header-content">
    <div class="overlay"></div>
    <div class="d-flex justify-content-center">
      <div class="mt-5">
        <div class="text-center content-text">
          <h3>Bruiloft</h3>
          <h4>Samuel & Corine</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="family-content" id="content">
  <% if @family %>
    <%= render 'reply_card' %>
  <% else %>
    <%= render 'uuid_card' %>
  <% end %>
</div>
<div class="family-footer">
  <div class="fixed-bottom text-center mb-2" style="z-index:1">
    <div>Gemaakt door Samuel van Eck</div>
  </div>
</div>

<script>

</script>
