<div class="family-container">
  <div class="d-flex justify-content-center m-5">
    <div class="card w-75 shadow rounded mb-5">
      <% if @family.photo %>
        <div class="card-img-top"><%=  %></div>
      <% end %>
      <div class="card-header">
        <div class="d-flex justify-content-center">
          <div class="mt-2"><h5><strong><%= @family.name %></strong></h5></div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex">
            <div><strong>Gasten</strong></div>
            <div class="ml-auto"><strong>Aanwezig</strong></div>
          </div>
        </li>
        <% @guests.each do |guest| %>
          <li class="list-group-item">
            <div class="d-flex">
              <div><%= guest.name %></div>
              <div class="ml-auto mr-4"><%= check_box_tag :attending %></div>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-primary">
            <i class="fas fa-paper-plane"></i>&ensp;Verstuur
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
