<li class="list-group-item">
  <div class="d-flex flex-row">
    <div><%= link_to message.content, admin_message_path(message) %></div>
  </div>
  <div class="d-flex flex-row">
    <div><small><%= link_to message.family.name, admin_family_path(message.family), style: 'color:#6c757d' %></small></div>
  </div>
</li>
