<div class="d-flex justify-content-center mt-2">
  <div><h2 class="">Messages</h2></div>
</div>
<div class="d-flex mb-2">
  <div class="btn btn-outline-primary">
    <%= link_to "New", new_admin_message_path %>
  </div>
  <div class="ml-auto">
    <input id="search" type="text" class="form-control" placeholder="Search..." autocomplete="off" data-table="messages-table" data-search-path="<%= admin_messages_path %>" />
  </div>
</div>
<div class="d-flex">
  <table class="table table-striped" id="messages-table">
    <thead>
      <tr>
        <th>Family</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <%= render message %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $("#search").on("keyup", function() { searchItems($(this)) });
</script>
