/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // $primary: #E94B3C;
$primary: #A11607;
$primary-light: #CC2817;
$gray: #EFEFEF;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: $primary;
  text-decoration: inherit;
}

.avatar {
  border-radius: 50%;
  border: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  background-color: $primary;
}

li.link-active {
  box-shadow: inset 4px 0 0 $primary;
  background-color: #f5f5f5;
  color: #fff;
  border-color: #fff;
}

.text-center {
  text-align: center;
}

.thumbnail {
  max-height: 50px;
  width: auto;
}
.card-image {
  width: auto;
  height: 236px;
}

.family-header {
  z-index: 1;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.header-img {
  width: 60vw;
  height: 50vh;
  background-position: 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(asset_path("bgs/bg-1.jpg"));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.header-img:hover {
  transform: scale(1.1);
  width: 100vw;
}

.header-content {
  position: relative;
  color: #000000;
  background-color: #FFFFFF;
  width: 40vw;
  height: 50vh;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  overflow-x: visible;
}

.header-content:hover {
  width: 80vw;
}

.content-text {
  position: absolute;
  left: -2%;
}

.overlay::after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 70%;
  height: 200%;
  left: -35%;
  top: -80%;
  background-color: #FFFFFF;
  transform: rotate(10deg);
}

.family-content {
  z-index: 10;
  position: relative;
  top: -20%;
  margin: 10px;
}

.card-wrapper {
  position: absolute;
  width: 100%;
  max-width: 100vw;
}

.family-footer {
  z-index: 1;
  height: 50vh;
}

// .toggle {
//   position: relative;
//   display: block;
//   width: 40px;
//   height: 20px;
//   cursor: pointer;
//   -webkit-tap-highlight-color: transparent;
//   transform: translate3d(0,0,0);
//   &:before {
//     content: "";
//     position: relative;
//     top: 3px;
//     left: 3px;
//     width: 34px;
//     height: 14px;
//     display: block;
//     background: $gray;
//     border-radius: 8px;
//     transition: background .2s ease;
//   }
//   span {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 20px;
//     height: 20px;
//     display: block;
//     background: white;
//     border-radius: 10px;
//     box-shadow: 0 3px 8px rgba($gray,.5);
//     transition: all .2s ease;
//     &:before {
//       content: "";
//       position: absolute;
//       display: block;
//       margin: -18px;
//       width: 56px;
//       height: 56px;
//       background: rgba($primary,.5);
//       border-radius: 50%;
//       transform: scale(0);
//       opacity: 1;
//       pointer-events: none;
//     }
//   }
// }
//
// .cbx:checked + .toggle {
//   &:before {
//     background: $primary-light;
//   }
//   span {
//     background: $primary;
//     transform: translateX(20px);
//     transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
//     box-shadow: 0 3px 8px rgba($primary,.2);
//     &:before {
//       transform: scale(1);
//       opacity: 0;
//       transition: all .4s ease;
//     }
//   }
// }
