/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // $primary: #E94B3C;
$primary: #A11607;
$primary-light: #CC2817;
$gray: #EFEFEF;
$green: #92B558;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: $primary;
  text-decoration: inherit;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
}

.avatar {
  border-radius: 50%;
  border: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  background-color: $primary;
}

li.link-active {
  box-shadow: inset 4px 0 0 $primary;
  background-color: #f5f5f5;
  color: #fff;
  border-color: #fff;
}

.text-center {
  text-align: center;
}

.thumbnail {
  max-height: 50px;
  width: auto;
}

.code-input-field {
  font-size: 2em;
  max-width: 60px;
  height: 100%;
  text-align: center;
  text-transform: lowercase;
}

.admin-btns {
  right: 1em;
  top: 0px;
  position: absolute;
  z-index: 20;
}

@media (min-width: 768px) {
  .family-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

#admin-header {
  background-color: $primary;
  color: #FFFFFF;
}
