.family-header {
  z-index: 1;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.header-img {
  width: 75vw;
  height: 50vh;
  background-position: 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(asset_path("bgs/bg-1.jpg"));
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.header-img:hover, .header-img-hover {
  transform: scale(1.1);
}

.header-content {
  position: fixed;
  color: #000000;
  background-color: #FFFFFF;
  width: 20%;
  height: 50vh;
  right: 5%;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  overflow-x: visible;
}

.header-content:hover, .header-content-hover {
  width: 50vw;
}

.content-text {
  position: absolute;
  margin-left: 10vw;
}

.chevron-icon {
  color: #EFEFEF;
}

.overlay {
  color: #000000;
  display: inline-block;
  position: absolute;
  width: 150%;
  height: 250%;
  left: -35%;
  top: -80%;
  background-color: #FFFFFF;
  transform: rotate(10deg);
}

.family-content {
  z-index: 10;
  position: relative;
  top: -20vh;
  margin: 10px;
}

.card-image {
  width: auto;
  height: 236px;
}

.card-wrapper {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  padding-bottom: 50px;
}

.family-footer {
  z-index: 1;
  min-height: 20vh;
}

@media (min-width: 768px) {
  .content-logo {
    max-height: 150%;
  }
}

@media (max-width: 768px) {
  .content-logo {
    width: 50vw;
    height: auto;
  }
}


.content-date {
  font-size: 1.5em;
  
}
